<h3>Yay!</h3>
<br>
Thrilled to hear that you can come and celebrate with us. If there's any mistake with the information below, email us at party@karenmichael.com.<br><br>

Love,<br>
Karen + Michael
<br><br>
<h3>Which events will you attend?</h3>
{% for event in data.events %}
	{% if event in 'sunset_cruise' %}Yes: Sunset cruise, 5 PM, Sunday Feb 14<br>{% endif %}
	{% if event in 'dinner_1' %}Yes: Dinner, 7 PM, Sunday Feb 14<br>{% endif %}
	{% if event in 'beach_wedding' %}Yes: Beach wedding, 4 PM, Monday Feb 15<br>{% endif %}
	{% if event in 'lunch_water' %}Yes: Lunch and water activities, 1 PM, Tuesday Feb 16<br>{% endif %}
	{% if event in 'dinner_2' %}Yes: Dinner, 7 PM, Tuesday Feb 16<br>{% endif %}
	{% if event in 'church_wedding' %}Yes: Church wedding, 1 PM, Friday Feb 19<br>{% endif %}
	{% if event in 'dimsum_brunch' %}Yes: Dimsum brunch, 12 noon, Saturday Feb 20<br>{% endif %}
{% endfor %}
<br>
<h3>When do you arrive in Manila from overseas?</h3>
Arrival flight number: {% if data.manila_flight_into %}{{ data.manila_flight_into }}{% endif %}<br>
Arrival date and time: {% if data.manila_date_into %}{{ data.manila_date_into }}{% endif %}<br>
Departure flight number: {% if data.manila_flight_out %}{{ data.manila_flight_out }}{% endif %}<br>
Departure date and time: {% if data.manila_data_out %}{{ data.manila_date_out }}{% endif %}<br>
Hotel name: {% if data.manila_staying %}{{ data.manila_staying }}{% endif %}<br><br>
<h3>When do you arrive in Boracay from Manila?</h3>
Arrival flight number: {% if data.boracay_flight_into %}{{ data.boracay_flight_into }}{% endif %}<br>
Arrival date and time: {% if data.boracay_date_into %}{{ data.boracay_date_into }}{% endif %}<br>
Departure flight number: {% if data.boracay_flight_out %}{{ data.boracay_flight_out }}{% endif %}<br>
Departure date and time: {% if data.boracay_date_out %}{{ data.boracay_date_out }}{% endif %}<br>
Hotel name: {% if data.boracay_staying %}{{ data.boracay_staying }}{% endif %}<br><br>
<h3>Any special guests?</h3>
Number of guests (excluding you): {% if data.number_of_guests %}{{ data.number_of_guests }}{% else %}1{% endif %}<br>
