<h3>Yay!</h3>
<br>
Thrilled to hear that you can come and celebrate with us. If there's any mistake with the information below, email us at party@karenmichael.com.<br><br>

Love,<br>
Karen + Michael
<br><br>
<h3>Which events will you attend?</h3>
{% for event in data.events %}
	{% if event in 'sunset_cruise' %}Sunset cruise | 3 PM, Sun, Feb 14<br>{% endif %}
	{% if event in 'dinner_1' %}Dinner | 7 PM, Sun, Feb 14<br>{% endif %}
	{% if event in 'beach_wedding' %}Beach wedding | 4 PM, Mon, Feb 15<br>{% endif %}
	{% if event in 'lunch_water' %}Lunch and water activities, 1 PM, Tue, Feb 16<br>{% endif %}
	{% if event in 'dinner_2' %}Dinner | 7 PM, Tue, Feb 16<br>{% endif %}
    {% if event in 'dads_birthday' %}Dads' birthdays | 7 PM, Thu, Feb 18<br>{% endif %}
	{% if event in 'church_wedding' %}Church wedding | 1 PM, Fri, Feb 19<br>{% endif %}
    {% if event in 'reception' %}Reception | 7 PM, Fri, Feb 19<br>{% endif %}
	{% if event in 'dimsum_brunch' %}Dimsum brunch | 12 noon, Sat, Feb 20<br>{% endif %}
{% endfor %}
<br>
<h3>When do you arrive in Manila from overseas?</h3>
Arrival flight number: {% if data.manila_flight_into %}{{ data.manila_flight_into }}{% endif %}<br>
Arrival date and time: {% if data.manila_date_into %}{{ data.manila_date_into|date:"M d, Y, H:i A" }}{% endif %}<br>
Departure flight number: {% if data.manila_flight_out %}{{ data.manila_flight_out }}{% endif %}<br>
Departure date and time: {% if data.manila_date_out %}{{ data.manila_date_out|date:"M d, Y, H:i A" }}{% endif %}<br>
Hotel name: {% if data.manila_staying %}
	{% if data.manila_staying in 'holiday_inn' %}Holiday Inn{% endif %}
	{% if data.manila_staying in 'manila_peninsula' %}Manila Peninsula{% endif %}
	{% if data.manila_staying in 'shangri_la' %}Makati Shangri-la (wedding venue){% endif %}
	{% if data.manila_staying in 'luxe_residences' %}The Luxe Residences{% endif %}
	{% if data.manila_staying in 'manila_other' %}{{ data.manila_staying_other }}{% endif %}
			{% endif %}<br><br>
<h3>When do you arrive in Boracay from Manila?</h3>
Arrival flight number: {% if data.boracay_flight_into %}{{ data.boracay_flight_into }}{% endif %}<br>
Arrival date and time: {% if data.boracay_date_into %}{{ data.boracay_date_into|date:"M d, Y, H:i A" }}{% endif %}<br>
Departure flight number: {% if data.boracay_flight_out %}{{ data.boracay_flight_out }}{% endif %}<br>
Departure date and time: {% if data.boracay_date_out %}{{ data.boracay_date_out|date:"M d, Y, H:i A" }}{% endif %}<br>
Hotel name: {% if data.boracay_staying %}
	{% if data.boracay_staying in 'asya' %}Asya (wedding venue){% endif %}
	{% if data.boracay_staying in 'discovery_shores' %}Discovery Shores{% endif %}
	{% if data.boracay_staying in 'villa_caemilla' %}Villa Caemilla{% endif %}
	{% if data.boracay_staying in 'boracay_other' %}{{ data.boracay_staying_other }}{% endif %}
			{% endif %}<br><br>
<h3>Your dietary restrictions</h3>
{% if data.dietary_restrictions %}
    {% if data.dietary_restrictions in 'gluten_free' %}Gluten free{% endif %}
    {% if data.dietary_restrictions in 'halal' %}Halal{% endif %}
    {% if data.dietary_restrictions in 'kosher' %}Kosher{% endif %}
    {% if data.dietary_restrictions in 'pescatarian' %}Pescatarian{% endif %}
    {% if data.dietary_restrictions in 'vegan' %}Vegan{% endif %}
    {% if data.dietary_restrictions in 'vegetarian' %}Vegetarian{% endif %}
    {% if data.dietary_restrictions in 'boracay_other' %}{{ data.dietary_restrictions_other }}{% endif %}
{% else %}
None
{% endif %}
<br/><br/>
<h3>Any special guests?</h3>
Number of guests (excluding you): {% if data.number_of_guests %}{{ data.number_of_guests }}{% else %}0{% endif %}<br><br>
{% if data.guests_name_1 %}{{ data.guests_name_1 }}
{% if data.guests_dietary_restrictions_1 %}({{ data.guests_dietary_restrictions_1 }})<br>{% endif %}{% endif %}
{% if data.guests_dietary_restrictions_1_other %}{{ data.guests_dietary_restrictions_1_other }}<br><br>{% endif %}
{% if data.guests_name_2 %}{{ data.guests_name_2 }}
{% if data.guests_dietary_restrictions_2 %}({{ data.guests_dietary_restrictions_2 }})<br>{% endif %}{% endif %}
{% if data.guests_dietary_restrictions_2_other %}{{ data.guests_dietary_restrictions_2_other }}<br><br>{% endif %}
{% if data.guests_name_3 %}{{ data.guests_name_3 }}
{% if data.guests_dietary_restrictions_3 %}({{ data.guests_dietary_restrictions_3 }})<br>{% endif %}{% endif %}
{% if data.guests_dietary_restrictions_3_other %}{{ data.guests_dietary_restrictions_3_other }}<br><br>{% endif %}
{% if data.guests_name_4 %}{{ data.guests_name_4 }}
{% if data.guests_dietary_restrictions_4 %}({{ data.guests_dietary_restrictions_4 }})<br>{% endif %}{% endif %}
{% if data.guests_dietary_restrictions_4_other %}{{ data.guests_dietary_restrictions_4_other }}<br><br>{% endif %}
{% if data.guests_name_5 %}{{ data.guests_name_5 }}
{% if data.guests_dietary_restrictions_5 %}({{ data.guests_dietary_restrictions_5 }})<br>{% endif %}{% endif %}
{% if data.guests_dietary_restrictions_5_other %}{{ data.guests_dietary_restrictions_5_other }}<br><br>{% endif %}
<h3>Anything else you’d like to add?</h3>
{% if data.additional_comment %}{{ data.additional_comment }}{% endif %}
