/*
------------------------------------------------
	// Reset, Clearfix, General 
------------------------------------------------
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
  outline: 0; }

* {
  margin: 0; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* ! removes focus line */
html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  text-align: center; }

a {
    color: #94b4c3 !important;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Book-BT_18987.ttf');
}


@media (min-width: 1280px) {

    .body {

    }

    body {
        background: #F2F2F2;
        font-size: 1em;
    }

    .global_wrapper {
        background: white;
        margin: 0 auto;
        max-width: 1280px;
    }

    .navbar {
        width: 1280px;
        text-align: center;
        position: fixed;
        background: rgba(255,255,255, .9);
        border: none;
    }

    .navbar.shrink {
        box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.2);
    }

    .navbar .nav_wrapper  {
        margin-top: 38px;
        margin-bottom: 37px;
        display: inline-block;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
    }

    .navbar.shrink .nav_wrapper  {
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .navbar li a {
        font-size: 18px;
        color: #2e3a38 !important;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        padding-left: 13px;
        padding-right: 13px;
    }

    .navbar-element:hover a {
        color: #989898 !important;
    }
    
    img#karen-michael {
        width: 100%;
    }
    
    #couple {
        background: url("../img/waves-background3x.png") top left no-repeat;
        background-size: cover;
        padding-top: 58px;
        padding-bottom: 86px;
        margin-top: -3px;
    }

    .karenmichael {
        text-align: center;
        font-size: 58px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        line-height: 42px;
    }

    #getting-married {
        padding-top: 130px;
        -webkit-transition: padding-top 0.5s ease-out 0s;
        -moz-transition: padding-top 0.5s ease-out 0s;
        -o-transition: padding-top 0.5s ease-out 0s;
        transition: padding-top 0.5s ease-out 0s;
    }

    #getting-married.shrink {
        padding-top: 84px;
    }

    .karenmichael_married {
        text-align: center;
        font-size: 24px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 20px;
        line-height: 30px;
    }

    .bride_groom_row {
        margin-top: 108px;
    }

    .bride_groom_row .txtmagenta {
        margin-top: 14px;
    }

    .bride_groom_row .txtmagenta span {
        display: inline-block;
        margin-top: 7px;
    }

    .bride_groom_row #michaeltxt .txtmagenta {
        margin-top: 16px;
    }

    .bride_groom_row nobr {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 36px;
        color: #4a4a4a;
        line-height: 42px;
        vertical-align: top;
    }

    .bride_groom_row h1 span {
        margin-top: 17px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        font-size: 24px;
        line-height: 30px;
    }

    #karentxt {
        padding-left: 137px;
    }

    #michaeltxt {
        padding-right: 137px;
        padding-top: 5px;
    }

    .story_row {
        margin-top: 85px;
        background: #f2f2f2;
        padding-top: 66px;
        padding-bottom: 72px;
    }

    #date1 {
        padding-left: 50px;
    }

    #date2 {
        padding-right: 80px;
    }

    .story_row {
        margin-left: 53px;
        margin-right: 60px;
        width: 1050px;
    }

    .story_row .col-sm-6 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 4px;
        margin-bottom: 10px;
    }

    .story_row .col-sm-6 div span {
        display: inline-block;
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 4px;
    }

    .story__continues {
        margin-top: 88px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 36px;
        color: #b4b6b7;
    }

    .story__continues__text span:last-child {
        display: inline-block;
        margin-top: 4px;
    }

    img#two-weddings-img {
        width: 100%;
    }

    #two-wedding-section {
        padding-top: 47px;
        padding-bottom: 102px;
    }

    #two-wedding-section {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-align: center;
    }

    .two_wedding_title {
        text-transform: uppercase;
        font-size: 64px;
        color: #b4b6b7;
        line-height: 68px;
    }

    .two_wedding_date_row {
        margin-top: 48px;
    }

    .two_wedding_date_row .col-sm-6 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 8px;
        margin-bottom: 6px;
    }

    .two_wedding_date_row .col-sm-6 div span {
        display: inline-block;
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top:7px;
    }

    #wedding1 {
        padding-left: 124px;
    }

    #wedding2 {
        padding-right: 124px;
    }

    #beach-wedding-img .col-sm-6 {
        padding-left: 33px;
        padding-right: 32px;
    }

    #img-beach-wedding {
        width: 100%;
    }

    .beach_wedding__txt {
        margin-top: 32px;
    }

    .beach_wedding__txt .col-sm-12 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 5px;
        margin-bottom: 13px;
    }

    .beach_wedding__txt .col-sm-12 div span {
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 2px;
    }

    .beach_wedding__txt .boracay_title {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        margin-top: 67px;
        margin-bottom: 64px;
        line-height: 40px;
    }

    .boracay_paragraph {
        text-align: center;
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        width: 475px;
        margin: 0 auto 15px;
        line-height: 18px;
        padding: 0px;
    }

    #bubble-dress-code {
        background: #f2f2f2;
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        color: #4a4a4a;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        padding-top: 26px;
        text-align: center;
        display: inline-block;
        line-height: 22px;
        margin-top: 2px;
    }

    #dress-code .left {
        padding-left: 56px;
    }

    #dress-code .right {
        padding-right: 48px;
    }

    #dress-code.wedding-party {
        padding-top: 35px;
        padding-bottom: 90px;
    }


    .dress-code__title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-align: center;
        font-size: 24px;
        color: #4a4a4a;
        margin-top: 5px;
    }

    .dress-code__description {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-align: center;
        font-size: 18px;
        color: #4a4a4a;
        margin-top: 5px;
    }
    .dress-code__description span {
        display: inline-block;
        line-height: 24px;
    }

    #church-wedding-img .col-sm-6 {
        padding-left: 33px;
        padding-right: 32px;
    }

    #img-church-wedding {
        width: 100%;
    }

    .beach_wedding__txt {
        margin-top: 32px;
    }

    #church-wedding {
        padding-top: 32px;
    }

    .church_wedding__txt .col-sm-12 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 5px;
        margin-bottom: 13px;
    }

    .church_wedding__txt .col-sm-12 div span {
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 2px;
    }

    .antonio_paragraph {
        padding: 0;
        text-align: center;
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        width: 474px;
        margin: 48px auto 15px;
        line-height: 17px;
    }

    .antonio_paragraph.antonio_paragraph-2 {
        margin-top: 15px;
        margin-bottom: 19px;
    }

    #dress-code.church-party {
        padding-top: 28px;
        padding-bottom: 89px;
    }

    #dress-code.church-party .dress-code__title {
        padding-top: 13px;
    }


    #dress-code.church-party .col-sm-2 {
        padding-right: 0;
    }

    #dress-code.church-party .left {
        padding-left: 71px;
    }

    #dress-code.church-party .right {
        padding-right: 30px;
    }

    .church-party #bubble-dress-code {
        background: #2e3a38;
        color: white;
    }

    #wedding-party {
        padding-bottom: 100px;
    }

    #wedding-party .container {
        width: 1050px !important;
    }

    .wedding-party-row {
        background: #f2f2f2;
        padding-top: 64px;
        padding-bottom: 88px;
        padding-left: 115px;
        padding-right: 115px;
    }

    .wedding-party-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 36px;
        color: #b4b6b7;
        padding-left: 70px;
    }

    .family {
        margin-top: 30px;
    }

    .family.family--hers {
        margin-top: 77px;
        padding: 0;
    }

    .family.family--his {
        margin-top: 26px;
        padding: 0;
    }

    .wedding-party__name {
        font-size: 18px;
        color: #4a4a4a;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        margin-top: 9px;
    }

    .wedding-party__status {
        font-size: 14px;
        color: #4a4a4a;
        font-family: 'Futura', sans-serif;
        margin-top: 8px;
        padding: 0 18px;
        line-height: 18px;
    }

    .some_list {
        margin-top: 56px;
        margin-bottom: 45px;
    }

    .wedding-party-row .col-sm-6.left {
        padding-right: 50px;
    }

    .wedding-party-row .col-sm-6.right {
        padding-left: 85px;
    }

    .bridesmaids_list__title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        font-size: 28px;
    }

    .groomsman_list__title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        font-size: 28px;
    }

    .bridesmaids_list__person {
        line-height: 28px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        color: #4a4a4a;
    }

    .groomsman_list__person {
        line-height: 28px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        color: #4a4a4a;
    }

    .list__person--first {
        margin-top: 17px;
    }

    img#bubble-when-where {
        width: 100%;
    }

    #when-where {
        padding-top: 48px;
        padding-bottom: 92px;
    }

    #when-where .left {
        padding-left: 133px;
    }

    #when-where .right {
        padding-right: 137px;
    }

    .when-where-main-title {
        font-size: 64px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        text-align: center;
    }

    .when-where-day {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 62px;
    }

    .when-where-date {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 5px;
    }

    .when-where-title {
        font-size: 14px;
        font-family: 'Futura', sans-serif;
        font-weight: bold;
        color: #4a4a4a;
        margin-top: 18px;
    }

    .when-where-description {
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        text-transform: none;
        margin-top: 5px;
    }

    section#googlemap {
        position: relative;
        padding: 20px 0;
        width: 100%;
    }

    #map-wrap {
        height: 100%;
        width: 100%;
    }

    #getting-there {
        padding-top: 50px;
        padding-bottom: 99px;
    }

    .getting-there__text.left {
        padding-left: 27px;
    }

    .getting-there__text.right {
        padding-right: 25px;
    }

    .getting-there-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 64px;
        color: #b4b6b7;
    }

    #getting-there br {
        line-height: 18px;
    }

    .getting-there__text div {
        font-size: 36px;
        color: #4a4a4a;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        /*margin-top: 52px;*/
        /*margin-bottom: 26px;*/
        /*width: 475px;*/
        margin: 50px auto 32px;
    }

    .getting-there__text p {
        font-size: 14px;
        font-family: 'Futura', sans-serif;
        color: #4a4a4a;
        width: 479px;
        margin: 2px auto 0;
        line-height: 18px;
    }

    .getting-there__text .link_block {
        margin: 18px 0 0 0;
    }


    .link_block div {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 24px;
    }


    .link_block a {
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
    }

    #getting-there-img img {
        width: 100%;
    }

    #rsvp-link {
        padding-top: 47px;
        padding-bottom: 93px;
    }

    .rsvp_row {
        width: 455px;
        margin: 0 auto;
    }

    .rsvp-title {
        font-size: 64px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
    }

    .rsvp_block {
        padding-left: 30px;
        margin-top: 39px;
    }



    .label_wrapper--left {
        text-align: left;
    }

    .label_wrapper--right {
        text-align: right;
    }

    .label_rsvp {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
    }

    .label_rsvp input {
        margin-right: 5px;
        width: 16px;
        height: 16px;
        background: white;
        vertical-align: top;

    }

    .forms_wrapper {
        margin-top: 28px;
        font-family: 'Futura', sans-serif;
    }

    .smart-forms form > div {
        position: relative;
    }

    .smart-forms h2 {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        margin-top: 30px;
        margin-bottom: 22px;
    }

    .smart-forms form select {
        padding-left: 15px;
    }

    .smart-forms form span,
    .smart-forms form option,
    .smart-forms form select,
    .smart-forms form label {
        font-size: 14px !important;
        color: #9D9D9D !important;
    }
    .smart-forms form input  {
        font-size: 14px !important;
        color: #9D9D9D !important;
        height: 45px;
        background: #f2f2f2;
        outline: none;
        border-radius: 0;
        border: none;
        padding-left: 20px;
    }

    .form-horizontal .form-group {
        margin-top: 2px;
        margin-bottom: 22px !important;
    }

    .smart-forms form #id_events li  {
        text-align: left;
    }

    .smart-forms form #id_events input  {
        height: auto;
    }

    .smart-forms form select {
        width: 100%;
        height: 45px;
        background: #f2f2f2;
        outline: none;
        border-radius: 0;
        border: none;
    }

    .smart-forms textarea {
        padding-left: 15px;
        padding-top: 10px;
        width: 100%;
        color: #9D9D9D !important;
    }

    #rsvp-form {
        display: none;
    }

    .guest_form {
        margin-top: 20px;
    }

    .guest_form_1,
    .guest_form_2,
    .guest_form_3,
    .guest_form_4,
    .guest_form_5 {
        display: none;
    }

    .glyphicon.glyphicon-calendar {
        position: absolute;
        right: 15px;
        top: 15px;
        pointer-events: none;
        text-align: right;
    }
    .icons_img {
        margin-top: 9px;
    }

    .icons_img__block__link {
        font-size: 14px;
        font-family: 'Futura', sans-serif;
        color: #94b4c3;
        padding: 0;
        text-align: left;
        line-height: 18px;
    }

    .icons_img__block__link span {
        font-size: 14px;
        vertical-align: middle;
    }

    #gogo-1,
    #gogo-2 {
        margin-right: 12px;
        margin-top: 13px;
        box-sizing: border-box;
        width: 150px;
        height: 52px;
        border: 2px solid #2e3a38;
        color: #2e3a38;
        background: white;
    }

    #gogo-1:hover,
    #gogo-2:hover {
        background: #2e3a38;
        color: white;
    }

    #gifts {
        padding-top: 87px;
        padding-bottom: 100px;
    }

    .gifts-small-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        font-size: 18px;
        color: #4a4a4a;
        margin-bottom: 7px;
    }

    .gifts-big-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        font-size: 36px;
        color: #4a4a4a;
        margin-bottom: 12px;
    }

    .gifts-title-text {
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        margin-top: 24px;
    }

    .gifts-title-text div {
        width: 800px;
        margin: 0 auto;
    }

    #gifts-img img {
        width: 100%;
    }

    #instagram-link {
        padding-top: 44px;
        padding-bottom: 714px;
        background: url("../img/waves-background3x.png") top left no-repeat;
        background-size: cover;
    }

    .instagram-title {
        font-size: 64px;
        color: #b4b6b7;
        font-family: MahlauEFOP-Regular, sans-serif;
    }

    .instagram-text {
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        margin-top: 37px;
    }

    .instagram-text div {
        width: 800px;
        margin: 0 auto;
    }

    .real-time-link {
        display: inline-block;
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        margin-top: 16px;
    }

    #instafeed a {
        width: 125px;
        height: 125px;
        margin-right: 25px;
    }

    #col-last {
        margin-top: 43px;
    }

    .guests_wrapper {
        padding: 0 30px;
    }

    #googlemap-img {
        width: 100%;
    }

    em.error {
        margin-top: 15px;
        display: inline-block;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
    }

    .result h1 {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        color: #b4b6b7;
    }

    .arrow_up {
        height: 45px;
        width: 45px;
        position: absolute;
        right: 0;
        background: url(../img/arrow-down.png) center center no-repeat,
        #F2F2F2;
        top: 0;
        z-index: 10;
        background-size: 35%;
        pointer-events: none;
    }
}
@media (max-width: 1279px) and (min-width: 768px) {
    .body {

    }

    body {
        background: #F2F2F2;
        font-size: 1em;
    }

    .global_wrapper {
        background: white;
        margin: 0 auto;
        max-width: 1280px;
    }

    .navbar {
        width: 100%;
        text-align: center;
        position: fixed;
        background: rgba(255,255,255, .9);
        border: none;
    }

    .navbar.shrink {
        box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.2);
    }

    .navbar .nav_wrapper  {
        margin-top: 38px;
        margin-bottom: 37px;
        display: inline-block;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
    }

    .navbar.shrink .nav_wrapper  {
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .navbar li a {
        font-size: 18px;
        color: #2e3a38 !important;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        padding-left: 13px;
        padding-right: 13px;
    }

    .navbar-element:hover a {
        color: #989898 !important;
    }

    img#karen-michael {
        width: 100%;
    }

    #couple {
        background: url("../img/waves-background3x.png") top left no-repeat;
        background-size: cover;
        padding-top: 58px;
        padding-bottom: 86px;
        margin-top: -3px;
    }

    .karenmichael {
        text-align: center;
        font-size: 58px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        line-height: 42px;
    }

    #getting-married {
        padding-top: 130px;
        -webkit-transition: padding-top 0.5s ease-out 0s;
        -moz-transition: padding-top 0.5s ease-out 0s;
        -o-transition: padding-top 0.5s ease-out 0s;
        transition: padding-top 0.5s ease-out 0s;
    }

    #getting-married.shrink {
        padding-top: 84px;
    }

    .karenmichael_married {
        text-align: center;
        font-size: 24px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 20px;
        line-height: 30px;
    }

    .bride_groom_row {
        margin-top: 108px;
    }

    .bride_groom_row .txtmagenta {
        margin-top: 14px;
    }

    .bride_groom_row .txtmagenta span {
        display: inline-block;
        margin-top: 7px;
    }

    .bride_groom_row #michaeltxt .txtmagenta {
        margin-top: 16px;
    }

    .bride_groom_row nobr {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 36px;
        color: #4a4a4a;
        line-height: 42px;
        vertical-align: top;
    }

    .bride_groom_row h1 span {
        margin-top: 17px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        font-size: 24px;
        line-height: 30px;
    }

    #karentxt {
    }

    #michaeltxt {
        padding-top: 5px;
    }

    .story_row {
        margin-top: 85px;
        background: #f2f2f2;
        padding-top: 66px;
        padding-bottom: 72px;
    }


    /*.story_row {*/
        /*margin-left: 53px;*/
        /*margin-right: 60px;*/
    /*}*/

    .story_row .col-sm-6 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 4px;
        margin-bottom: 10px;
    }

    .story_row .col-sm-6 div span {
        display: inline-block;
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 4px;
    }

    .story__continues {
        margin-top: 88px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 36px;
        color: #b4b6b7;
    }

    .story__continues__text span:last-child {
        display: inline-block;
        margin-top: 4px;
    }

    img#two-weddings-img {
        width: 100%;
    }

    #two-wedding-section {
        padding-top: 47px;
        padding-bottom: 102px;
    }

    #two-wedding-section {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-align: center;
    }

    .two_wedding_title {
        text-transform: uppercase;
        font-size: 64px;
        color: #b4b6b7;
        line-height: 68px;
    }

    .two_wedding_date_row {
        margin-top: 48px;
    }

    .two_wedding_date_row .col-sm-6 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 8px;
        margin-bottom: 6px;
    }

    .two_wedding_date_row .col-sm-6 div span {
        display: inline-block;
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top:7px;
    }


    #beach-wedding-img .col-sm-6 {
        padding-left: 33px;
        padding-right: 32px;
    }

    #img-beach-wedding {
        width: 100%;
    }

    .beach_wedding__txt {
        margin-top: 32px;
    }

    .beach_wedding__txt .col-sm-12 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 5px;
        margin-bottom: 13px;
    }

    .beach_wedding__txt .col-sm-12 div span {
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 2px;
    }

    .beach_wedding__txt .boracay_title {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        margin-top: 67px;
        margin-bottom: 64px;
        line-height: 40px;
    }

    .boracay_paragraph {
        text-align: center;
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        margin: 0 auto 15px;
        line-height: 18px;
        padding: 0px;
    }

    .boracay_paragraph:nth-child(3) {
        margin-top: 34px;
        margin-bottom: 14px;
    }


    #bubble-dress-code {
        background: #f2f2f2;
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        color: #4a4a4a;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        padding-top: 26px;
        text-align: center;
        display: inline-block;
        line-height: 22px;
        margin-top: 2px;
    }


    #dress-code.wedding-party {
        padding-top: 35px;
        padding-bottom: 90px;
    }

    .dress-code__title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-align: center;
        font-size: 24px;
        color: #4a4a4a;
        margin-top: 5px;
    }

    .dress-code__description {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-align: center;
        font-size: 1px;
        color: #4a4a4a;
        margin-top: 5px;
    }
    .dress-code__description span {
        display: inline-block;
        line-height: 24px;
    }

    #church-wedding-img .col-sm-6 {
        padding-left: 33px;
        padding-right: 32px;
    }

    #img-church-wedding {
        width: 100%;
    }

    .beach_wedding__txt {
        margin-top: 32px;
    }

    #church-wedding {
        padding-top: 32px;
    }

    .church_wedding__txt .col-sm-12 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 5px;
        margin-bottom: 13px;
    }

    .church_wedding__txt .col-sm-12 div span {
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 2px;
    }

    .antonio_paragraph {
        padding: 0;
        text-align: center;
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        margin: 48px auto 15px;
        line-height: 17px;
    }

    .antonio_paragraph.antonio_paragraph-2 {
        margin-top: 15px;
        margin-bottom: 19px;
    }

    #dress-code.church-party {
        padding-top: 28px;
        padding-bottom: 89px;
    }

    #dress-code.church-party .dress-code__title {
        padding-top: 13px;
    }


    /*#dress-code.church-party .col-sm-2 {*/
        /*padding-right: 0;*/
    /*}*/

    /*#dress-code.church-party .left {*/
        /*padding-left: 71px;*/
    /*}*/

    /*#dress-code.church-party .right {*/
        /*padding-right: 30px;*/
    /*}*/

    .church-party #bubble-dress-code {
        background: #2e3a38;
        color: white;
    }

    #wedding-party {
        padding-bottom: 100px;
    }

    /*#wedding-party .container {*/
        /*width: 1050px !important;*/
    /*}*/

    .wedding-party-row {
        background: #f2f2f2;
        padding-top: 64px;
        padding-bottom: 88px;
        /*padding-left: 130px;*/
        /*padding-right: 130px;*/
    }

    .wedding-party-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 36px;
        color: #b4b6b7;
        padding-left: 70px;
    }

    .family {
        margin-top: 30px;
    }

    .family.family--hers {
        margin-top: 107px;
    }

    .family.family--his {
        margin-top: 26px;
    }

    .wedding-party__name {
        font-size: 18px;
        color: #4a4a4a;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        margin-top: 9px;
    }

    .wedding-party__status {
        font-size: 14px;
        color: #4a4a4a;
        font-family: 'Futura', sans-serif;
        margin-top: 8px;
        padding: 0 18px;
        line-height: 18px;
    }

    .some_list {
        margin-top: 56px;
        margin-bottom: 45px;
    }


    .bridesmaids_list__title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        font-size: 28px;
    }

    .groomsman_list__title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        font-size: 28px;
    }

    .bridesmaids_list__person {
        line-height: 28px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        color: #4a4a4a;
    }

    .groomsman_list__person {
        line-height: 28px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        color: #4a4a4a;
    }

    .list__person--first {
        margin-top: 17px;
    }

    img#bubble-when-where {
        width: 100%;
    }

    #when-where {
        padding-top: 48px;
        padding-bottom: 92px;
    }


    .when-where-main-title {
        font-size: 64px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        text-align: center;
    }

    .when-where-day {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 62px;
    }

    .when-where-date {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 5px;
    }

    .when-where-title {
        font-size: 14px;
        font-family: 'Futura', sans-serif;
        font-weight: bold;
        color: #4a4a4a;
        margin-top: 18px;
    }

    .when-where-description {
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        text-transform: none;
        margin-top: 5px;
    }

    section#googlemap {
        position: relative;
        padding: 20px 0;
        width: 100%;
    }

    #map-wrap {
        height: 100%;
        width: 100%;
    }

    #getting-there {
        padding-top: 70px;
        padding-bottom: 99px;
    }



    .getting-there-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 64px;
        color: #b4b6b7;
    }

    #getting-there br {
        line-height: 18px;
    }

    .getting-there__text div {
        font-size: 36px;
        color: #4a4a4a;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        /*margin-top: 52px;*/
        /*margin-bottom: 26px;*/
        /*width: 475px;*/
        margin: 50px auto 32px;
    }

    .getting-there__text p {
        font-size: 14px;
        font-family: 'Futura', sans-serif;
        color: #4a4a4a;
        margin: 2px auto 0;
        line-height: 18px;
    }

    .getting-there__text .link_block {
        margin: 18px 0 0 0;
    }


    .link_block div {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 24px;
    }


    .link_block a {
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
    }

    #getting-there-img img {
        width: 100%;
    }

    #rsvp-link {
        padding-top: 47px;
        padding-bottom: 93px;
    }

    .rsvp_row {
        width: 455px;
        margin: 0 auto;
    }

    .rsvp-title {
        font-size: 64px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
    }

    .rsvp_block {
        padding-left: 30px;
        margin-top: 39px;
    }



    .label_wrapper--left {
        text-align: left;
    }

    .label_wrapper--right {
        text-align: right;
    }

    .label_rsvp {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
    }

    .label_rsvp input {
        margin-right: 5px;
        width: 16px;
        height: 16px;
        background: white;
        vertical-align: top;

    }

    .forms_wrapper {
        margin-top: 28px;
        font-family: 'Futura', sans-serif;
    }

    .smart-forms form > div {
        position: relative;
    }

    .smart-forms h2 {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        margin-top: 30px;
        margin-bottom: 22px;
    }

    .smart-forms form select {
        padding-left: 15px;
    }

    .smart-forms form span,
    .smart-forms form option,
    .smart-forms form select,
    .smart-forms form label {
        font-size: 14px !important;
        color: #9D9D9D !important;
    }
    .smart-forms form input  {
        font-size: 14px !important;
        color: #9D9D9D !important;
        height: 45px;
        background: #f2f2f2;
        outline: none;
        border-radius: 0;
        border: none;
        padding-left: 20px;
    }

    .form-horizontal .form-group {
        margin-top: 2px;
        margin-bottom: 22px !important;
    }

    .smart-forms form #id_events li  {
        text-align: left;
    }

    .smart-forms form #id_events input  {
        height: auto;
    }

    .smart-forms form select {
        width: 100%;
        height: 45px;
        background: #f2f2f2;
        outline: none;
        border-radius: 0;
        border: none;
    }

    .smart-forms textarea {
        padding-left: 15px;
        padding-top: 10px;
        width: 100%;
        color: #9D9D9D !important;
    }

    #rsvp-form {
        display: none;
    }

    .guest_form {
        margin-top: 20px;
    }

    .guest_form_1,
    .guest_form_2,
    .guest_form_3,
    .guest_form_4,
    .guest_form_5 {
        display: none;
    }

    .glyphicon.glyphicon-calendar {
        position: absolute;
        right: 15px;
        top: 15px;
        pointer-events: none;
        text-align: right;
    }
    .icons_img {
        margin-top: 9px;
    }

    .icons_img__block__link {
        font-size: 14px;
        font-family: 'Futura', sans-serif;
        color: #94b4c3;
        padding: 0;
        text-align: left;
        line-height: 18px;
    }

    .icons_img__block__link span {
        font-size: 14px;
        vertical-align: middle;
    }

    #gogo-1,
    #gogo-2 {
        margin-right: 12px;
        margin-top: 13px;
        box-sizing: border-box;
        width: 150px;
        height: 52px;
        border: 2px solid #2e3a38;
        color: #2e3a38;
        background: white;
    }

    #gogo-1:hover,
    #gogo-2:hover {
        background: #2e3a38;
        color: white;
    }

    #gifts {
        padding-top: 87px;
        padding-bottom: 100px;
    }

    .gifts-small-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        font-size: 18px;
        color: #4a4a4a;
        margin-bottom: 7px;
    }

    .gifts-big-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        font-size: 36px;
        color: #4a4a4a;
        margin-bottom: 12px;
    }

    .gifts-title-text {
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        margin-top: 24px;
    }

    .gifts-title-text div {
        width: 800px;
        margin: 0 auto;
    }

    #gifts-img img {
        width: 100%;
    }

    #instagram-link {
        padding-top: 44px;
        padding-bottom: 714px;
        background: url("../img/waves-background3x.png") top left no-repeat;
        background-size: cover;
    }

    .instagram-title {
        font-size: 64px;
        color: #b4b6b7;
        font-family: MahlauEFOP-Regular, sans-serif;
    }

    .instagram-text {
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        margin-top: 37px;
    }

    .instagram-text div {
        margin: 0 auto;
    }

    .real-time-link {
        display: inline-block;
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        margin-top: 16px;
    }

    #instafeed a {
        width: 125px;
        height: 125px;
        margin-right: 25px;
    }

    #col-last {
        margin-top: 43px;
    }

    .guests_wrapper {
        padding: 0 30px;
    }

    #googlemap-img {
        width: 100%;
    }

    em.error {
        margin-top: 15px;
        display: inline-block;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
    }

    .result h1 {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        color: #b4b6b7;
    }

    .arrow_up {
        height: 45px;
        width: 45px;
        position: absolute;
        right: 0;
        background: url(../img/arrow-down.png) center center no-repeat,
        #F2F2F2;
        top: 0;
        z-index: 10;
        background-size: 35%;
        pointer-events: none;
    }

}
@media (max-width: 767px) {

    .body {
        padding-top: 164px;
        font-size: 1em;
    }

    .nav-main {
        display: none !important;
    }
    .navbar {
        width: 100%;
        position: fixed;
        text-align: center;
        background: rgba(255, 255, 255, .9);
        border: none;
    }

    .navbar .nav_wrapper  {
        display: inline-block;
        margin-bottom: 52px;
    }

    #menu-btn {
        display: inline-block;
        position: fixed;
        right: 0;
    }

    .navbar li a {
        font-size: 18px;
        color: #2e3a38 !important;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        text-align: center !important;
    }

    #getting-married {
        padding-top: 50px;
    }

    .body {

    }


    img#karen-michael {
        width: 100%;
    }

    #couple {
        background: url("../img/waves-background3x.png") top left no-repeat;
        background-size: cover;
        padding-top: 58px;
        padding-bottom: 86px;
        margin-top: -3px;
    }

    .karenmichael {
        text-align: center;
        font-size: 48px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        line-height: 42px;
    }

    #getting-married {
        padding-top: 70px;
    }

    #getting-married.shrink {
        padding-top: 84px;
    }

    .karenmichael_married {
        text-align: center;
        font-size: 24px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 20px;
        line-height: 30px;
    }

    .bride_groom_row {
        margin-top: 108px;
    }

    .bride_groom_row .txtmagenta {
        margin-top: 14px;
    }

    .bride_groom_row .txtmagenta span {
        display: inline-block;
        margin-top: 7px;
    }

    .bride_groom_row #michaeltxt .txtmagenta {
        margin-top: 16px;
    }

    .bride_groom_row nobr {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 36px;
        color: #4a4a4a;
        line-height: 42px;
        vertical-align: top;
    }

    .bride_groom_row h1 span {
        margin-top: 17px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        font-size: 24px;
        line-height: 30px;
    }

    #michaeltxt {
        padding-top: 50px;
    }

    .story_row {
        margin-top: 85px;
        background: #f2f2f2;
        padding-top: 66px;
        padding-bottom: 72px;
    }

    #date1 {
    }

    #date2 {
        margin-top: 50px;
    }


    .story_row .col-sm-6 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 4px;
        margin-bottom: 10px;
    }

    .story_row .col-sm-6 div span {
        display: inline-block;
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 4px;
    }

    .story__continues {
        margin-top: 88px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 26px;
        color: #b4b6b7;
    }

    .story__continues__text span:last-child {
        display: inline-block;
        margin-top: 4px;
    }

    img#two-weddings-img {
        width: 100%;
    }

    #two-wedding-section {
        padding-top: 47px;
        padding-bottom: 102px;
    }

    #two-wedding-section {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-align: center;
    }

    .two_wedding_title {
        text-transform: uppercase;
        font-size: 54px;
        color: #b4b6b7;
        line-height: 68px;
    }

    .two_wedding_date_row {
        margin-top: 48px;
    }

    .two_wedding_date_row .col-sm-6 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 8px;
        margin-bottom: 6px;
    }

    .two_wedding_date_row .col-sm-6 div span {
        display: inline-block;
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top:7px;
    }

    #wedding2 {
        margin-top: 50px;
    }

    #beach-wedding-img .col-sm-6 {
        padding-left: 33px;
        padding-right: 32px;
    }

    #img-beach-wedding {
        width: 100%;
    }

    .beach_wedding__txt {
        margin-top: 32px;
    }

    .beach_wedding__txt .col-sm-12 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 5px;
        margin-bottom: 13px;
    }

    .beach_wedding__txt .col-sm-12 div span {
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 2px;
    }

    .beach_wedding__txt .boracay_title {
        font-size: 26px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        margin-top: 67px;
        margin-bottom: 64px;
        line-height: 28px;
    }

    .boracay_paragraph {
        text-align: center;
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        margin: 0 auto 15px;
        line-height: 18px;
        padding: 0px;
    }

    .boracay_paragraph:nth-child(3) {
        margin-top: 34px;
        margin-bottom: 14px;
    }


    #bubble-dress-code {
        background: #f2f2f2;
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        color: #4a4a4a;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        padding-top: 26px;
        text-align: center;
        display: inline-block;
        line-height: 22px;
        margin-top: 2px;
    }

    #dress-code .left {
        margin-bottom: 50px;
        padding-top: 130px;
    }

    #dress-code .right {
        margin-top: 50px;
    }

    #dress-code.wedding-party {
        padding-top: 35px;
        padding-bottom: 90px;
    }

    #dress-code.wedding-party .col-sm-2 {
        position: absolute;
        top: 0;
        padding-right: 40px;
    }

    .dress-code__title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-align: center;
        font-size: 24px;
        color: #4a4a4a;
        margin-top: 5px;
    }

    .dress-code__description {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-align: center;
        font-size: 18px;
        color: #4a4a4a;
        margin-top: 5px;
    }
    .dress-code__description span {
        display: inline-block;
        line-height: 24px;
    }

    #church-wedding-img .col-sm-6 {
        padding-left: 33px;
        padding-right: 32px;
    }

    #img-church-wedding {
        width: 100%;
    }

    .beach_wedding__txt {
        margin-top: 32px;
    }

    #church-wedding {
        padding-top: 32px;
    }

    .church_wedding__txt .col-sm-12 div div {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 5px;
        margin-bottom: 13px;
    }

    .church_wedding__txt .col-sm-12 div span {
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 2px;
    }

    .antonio_paragraph {
        padding: 0;
        text-align: center;
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        margin: 48px auto 15px;
        line-height: 17px;
    }

    .antonio_paragraph.antonio_paragraph-2 {
        margin-top: 15px;
        margin-bottom: 19px;
    }

    #dress-code.church-party {
        padding-top: 28px;
        padding-bottom: 89px;
    }

    #dress-code.church-party .col-sm-2 {
        position: absolute;
        top: 0;
        padding-right: 40px;
    }

    #dress-code.church-party .dress-code__title {
        padding-top: 13px;
    }


    #dress-code.church-party .left {
        margin-bottom: 30px;
        padding-top: 130px;
    }

    #dress-code.church-party .right {
       /*margin-top: 50px;*/
    }

    .church-party #bubble-dress-code {
        background: #2e3a38;
        color: white;
    }

    #wedding-party {
        padding-bottom: 100px;
    }

    .wedding-party-row {
        background: #f2f2f2;
        padding-top: 64px;
        padding-bottom: 88px;
    }

    .wedding-party-row .row .col-sm-3 {
        margin-bottom: 30px;
    }

    .wedding-party-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 36px;
        color: #b4b6b7;
    }

    .family {
        margin-top: 30px;
    }

    .family .col-sm-3 {
        margin-top: 35px;
    }

    .family.family--hers {
        margin-top: 87px;
    }

    .family.family--his {
        margin-top: 26px;
    }

    .wedding-party__name {
        font-size: 18px;
        color: #4a4a4a;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        margin-top: 9px;
    }

    .wedding-party__status {
        font-size: 14px;
        color: #4a4a4a;
        font-family: 'Futura', sans-serif;
        margin-top: 8px;
        padding: 0 18px;
        line-height: 18px;
    }

    .some_list {
        margin-top: 56px;
        margin-bottom: 45px;
    }

    .wedding-party-row .col-sm-6.right .list__person--first {
        margin-top: 0;
    }

    .bridesmaids_list__title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        font-size: 24px;
    }

    .groomsman_list__title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        font-size: 28px;
    }

    .bridesmaids_list__person {
        line-height: 28px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        color: #4a4a4a;
    }

    .groomsman_list__person {
        line-height: 28px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        color: #4a4a4a;
    }

    .list__person--first {
        margin-top: 17px;
    }

    img#bubble-when-where {
        width: 100%;
    }

    #when-where {
        padding-top: 48px;
        padding-bottom: 92px;
    }

    .when-where-main-title {
        font-size: 54px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
        text-align: center;
    }

    .when-where-main-row {
        margin: 0;
    }

    .when-where-day {
        font-size: 36px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 62px;
    }

    .when-where-date {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 5px;
    }

    .when-where-title {
        font-size: 14px;
        font-family: 'Futura', sans-serif;
        font-weight: bold;
        color: #4a4a4a;
        margin-top: 18px;
    }

    .when-where-description {
        font-family: 'Futura', sans-serif;
        font-size: 12px;
        color: #4a4a4a;
        text-transform: none;
        margin-top: 5px;
    }

    section#googlemap {
        position: relative;
        padding: 20px 0;
        width: 100%;
    }

    #map-wrap {
        height: 100%;
        width: 100%;
    }

    #getting-there {
        padding-top: 70px;
        padding-bottom: 99px;
    }


    .getting-there__text.right {
        margin-top: 50px;
    }

    .getting-there-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        font-size: 54px;
        color: #b4b6b7;
    }

    #getting-there br {
        line-height: 18px;
    }

    .getting-there__text div {
        font-size: 36px;
        color: #4a4a4a;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        margin: 50px auto 32px;
    }

    .getting-there__text p {
        font-size: 14px;
        font-family: 'Futura', sans-serif;
        color: #4a4a4a;
        margin: 2px auto 0;
        line-height: 18px;
    }

    .getting-there__text .link_block {
        margin: 18px 0 0 0;
    }


    .link_block div {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 24px;
    }


    .link_block a {
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
    }

    #getting-there-img img {
        width: 100%;
    }

    #rsvp-link {
        padding-top: 47px;
        padding-bottom: 63px;
    }

    .rsvp_row {
        margin: 0 auto;
    }

    .rsvp-title {
        font-size: 54px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
    }

    .rsvp_block {
        margin-top: 39px;
    }



    .label_wrapper--left {
        text-align: center;
    }

    .label_wrapper--right {
        text-align: center;
    }

    .label_rsvp {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #4a4a4a;
    }

    .label_rsvp input {
        margin-right: 5px;
        width: 13px;
        height: 13px;
        background: white;
    }

    .forms_wrapper {
        margin-top: 28px;
        font-family: 'Futura', sans-serif;
    }

    .smart-forms form  > div {
        position: relative;
    }

    .smart-forms h2 {
        font-size: 20px;
        font-family: MahlauEFOP-Regular, sans-serif;
        margin-top: 30px;
        margin-bottom: 22px;
    }

    .smart-forms form select {
        padding-left: 15px;
    }

    .smart-forms form span,
    .smart-forms form option,
    .smart-forms form select,
    .smart-forms form label {
        font-size: 14px !important;
        color: #9D9D9D !important;
    }
    .smart-forms form input  {
        font-size: 14px !important;
        color: #9D9D9D !important;
        height: 45px;
        background: #f2f2f2;
        outline: none;
        border-radius: 0;
        border: none;
        padding-left: 20px;
    }

    .form-horizontal .form-group {
        margin-top: 2px;
        margin-bottom: 22px !important;
    }

    .smart-forms form #id_events li  {
        text-align: left;
    }

    .smart-forms form #id_events input  {
        height: auto;
    }

    .smart-forms form select {
        width: 100%;
        height: 45px;
        background: #f2f2f2;
        outline: none;
        border-radius: 0;
        border: none;
    }

    .smart-forms textarea {
        padding-left: 15px;
        padding-top: 10px;
        width: 100%;
        color: #9D9D9D !important;
    }

    #rsvp-form {
        display: none;
    }

    .guest_form {
        margin-top: 20px;
    }

    .guest_form_1,
    .guest_form_2,
    .guest_form_3,
    .guest_form_4,
    .guest_form_5 {
        display: none;
    }

    .glyphicon.glyphicon-calendar {
        position: absolute;
        right: 15px;
        top: 15px;
        pointer-events: none;
        text-align: right;
    }
    .icons_img {
        margin-top: 9px;
    }

    .icons_img__block__link {
        font-size: 20px;
        font-family: 'Futura', sans-serif;
        color: #94b4c3;
        padding: 0;
        text-align: center;
        line-height: 18px;
        margin-bottom: 30px;
    }

    .icons_img__block__link span {
        display: inline-block;
        font-size: 20px;
        vertical-align: middle;
        margin-bottom: 15px;
    }

    .icons_img__block__link a {
        display: inline-block;
        width: 100%;
    }

    #gogo-1,
    #gogo-2 {
        margin-right: 12px;
        margin-top: 13px;
        box-sizing: border-box;
        width: 150px;
        height: 52px;
        border: 2px solid #2e3a38;
        color: #2e3a38;
        background: white;
    }

    #gogo-1:hover,
    #gogo-2:hover {
        background: #2e3a38;
        color: white;
    }

    #gifts {
        padding-top: 87px;
        padding-bottom: 100px;
    }

    .gifts-small-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        font-size: 18px;
        color: #4a4a4a;
        margin-bottom: 7px;
    }

    .gifts-big-title {
        font-family: MahlauEFOP-Regular, sans-serif;
        font-size: 36px;
        color: #4a4a4a;
        margin-bottom: 12px;
    }

    .gifts-title-text {
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        margin-top: 24px;
    }

    .gifts-title-text div {
        width: 800px;
        margin: 0 auto;
    }

    #gifts-img img {
        width: 100%;
    }

    #instagram-link {
        padding-top: 44px;
        padding-bottom: 714px;
        background: url("../img/waves-background3x.png") top left no-repeat;
        background-size: cover;
    }

    .instagram-title {
        font-size: 40px;
        color: #b4b6b7;
        font-family: MahlauEFOP-Regular, sans-serif;
    }

    .instagram-text {
        font-family: 'Futura', sans-serif;
        font-size: 14px;
        color: #4a4a4a;
        margin-top: 37px;
    }

    .instagram-text div {
        font-size: 14px;
        font-family: 'Futura', sans-serif;
        color: #4a4a4a;
        margin: 17px auto 0;
        line-height: 18px;
    }

    .real-time-link {
        display: inline-block;
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        margin-top: 16px;
    }

    #instafeed a {
        width: 125px;
        height: 125px;
        margin-right: 25px;
    }

    #col-last {
        margin-top: 43px;
    }

    .guests_wrapper {
        padding: 0 30px;
    }

    #googlemap-img {
        width: 100%;
    }

    em.error {
        margin-top: 15px;
        display: inline-block;
        font-family: MahlauEFOP-Regular, sans-serif;
        text-transform: uppercase;
        color: #b4b6b7;
    }

    .result h1 {
        font-size: 18px;
        font-family: MahlauEFOP-Regular, sans-serif;
        color: #b4b6b7;
    }

    .arrow_up {
        height: 45px;
        width: 45px;
        position: absolute;
        right: 0;
        background: url(../img/arrow-down.png) center center no-repeat,
        #F2F2F2;
        top: 0;
        z-index: 10;
        background-size: 35%;
        pointer-events: none;
    }
}

