<div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <form action="/submit_guest/" method="post" role="form" class="form-horizontal">
        {% csrf_token %}
        <div id="div_name" class="form-group">
            <input id="id_name" class="form-control" maxlength="50" name="name" type="text" placeholder="Guest's name" required>
            {{ form.name.errors }}
        </div>
        <div id="div_email" class="form-group">
            <input id="id_email" class="form-control" maxlength="50" name="email" type="email" placeholder="Guest's email (optional)" >
            {{ form.email.errors }}
        </div>
        <div id="div_shoe_size" class="form-group">
            {{ form.shoe_size.errors }}
            <div class="arrow_down"><span class="glyphicon glyphicon-triangle-bottom"></span></div>
            <select id="id_shoe_size" name="shoe_size">
                <option value="" selected="selected">Guest's shoe size</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class="arrow_up"></div>
        </div>
        <div id="div_dietary_restrictions" class="form-group">
            {{ form.dietary_restrictions.errors }}
            <div class="arrow_down"><span class="glyphicon glyphicon-triangle-bottom"></span></div>
            <select id="id_dietary_restrictions" name="dietary_restrictions">
                <option value="" selected="selected">Guest's dietary restrictions</option>
                <option value="sunset_cruise">Sunset cruise, 3 PM, Sunday, Feb 14</option>
                <option value="beach_wedding">Beach wedding, 4 PM, Monday, Feb 15</option>
                <option value="chill_beach">Chill on the beach, 1 PM, Tuesday, Feb 16</option>
                <option value="church_wedding">Church wedding, 1 PM, Friday, Feb 19</option>
                <option value="dimsum_brunch">Dimsum brunch, 12 noon, Saturday, Feb 20</option>
            </select>
            <div class="arrow_up"></div>
        </div>
        <div class="form-group submit_button_center">
            <button type="submit" id="gogo" class="button btn-primary">SUBMIT</button>
        </div>
    </form>
</div>