<div class="col-sm-12">
    <div class="col-sm-12">
        <form action="/submit_rsvp_mini/" method="post" role="form" class="form-horizontal">
            {% csrf_token %}
            <div id="div_name" class="form-group">
                <input id="id_name" class="form-control" maxlength="50" name="name" type="text" placeholder="Your full name *" required>
                {{ form.name.errors }}
            </div>
            <div id="div_email" class="form-group">
                <input id="id_email" class="form-control" maxlength="50" name="email" type="email" placeholder="Your email *" required>
                {{ form.email.errors }}
            </div>
            <div class="form-group submit_button_center">
                <button type="submit" id="gogo" class="button btn-primary">SUBMIT</button>
            </div>
        </form>
    </div>
</div>