{% load staticfiles mezzanine_tags bootstrap %}
<div class="container">
	<div class="col-md-3">
	    <form action="/submit_rsvp_mini/" method="post" role="form" class="form-horizontal">
	    	{% with submit_rsvp_mini_form as form %}
		        {% for field in form.visible_fields %}
			        <div id="div_{{ field.html_name }}" 
			             class="form-group{% if field.errors %} has-error{% endif %}">
			            {{ field|bootstrap }}
			        </div>
		        {% endfor %}
		        {% for hidden in form.hidden_fields %}
		            {{ hidden }}
		        {% endfor %}
		        {% csrf_token %}
		        <div class="form-group submit_button_center">
		            <button type="submit" id="gogo" class="button btn-primary">SUBMIT</button>
		        </div>
	        {% endwith %}
	    </form>
    </div>
</div>
